@use 'common';

.wrapper {
  @include common.setSize(100%, 50px);
  margin: 0 auto;
  position: relative;
  display: block;
}

.topbar {
  @include common.setSize(100%, 52px);
  @include common.set-fixed(0, 500);
  background: white;
  border-bottom: solid 1px common.$neutral-05;
  color: common.$primary;
  .right {
    font-weight: 700;
  }
}

.topbar-editor {
  background: white;
  button,
  div {
    font-size: 16px;
    border-radius: 20px;
    font-weight: 500;
  }

  .number {
    color: common.$primary;
    font-size: 17px;
    font-weight: 600;
    padding-right: 6px;
    &::before {
      content: '|';
      padding-right: 6px;
      color: common.$neutral-20;
    }
  }

  .upload {
    background: common.$primary;
    border: none;
    color: white;
    padding: 4px 12px;
  }
  .save {
    background: white;
    border: solid 1px common.$neutral-20;
    padding: 4px 6px;
    @include common.flex(row, center, center);

    button:first-child {
      padding: 0 6px;
      color: common.$neutral-80;
    }
  }
  .right {
    li:first-child {
      margin-right: 10px;
    }
  }
}

.logo {
  margin-left: 20px;
}
.logo h1 {
  font-family: 'GeekbleMalang2';
  font-size: 30px;
  font-weight: normal;
  line-height: 90%;
}

.right {
  position: absolute;
  right: 0px;
  li {
    margin-right: 20px;
  }
}