@use 'common';

.wrapper {
  @include common.setSize(100%, 150.8px);
  @include common.flex(row, flex-start, center);
  border: solid 3px white;
  position: relative;
}

.img {
  position: relative;
  img {
    @include common.setSize(100%, 100%);
    object-fit: cover;
    background: common.$neutral-05;
    display: block;
  }
}

.img-sm {
  @extend .img;
  margin-right: 12px;
  @include common.setSize(110px, 146px);
}

.img-lg {
  @extend .img;
  margin-right: 20px;
  @include common.setSize(150px, 200px);
  img {
    border-radius: 0 25px 25px 0;
  }
}

.info {
  position: relative;
  width: calc(100% - 152px);
  p {
    color: common.$neutral-60;
    line-height: 1.5;
    @include common.ellipsis;
  }
}

.detail-info {
  @extend .info;
}

.title {
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 4px;
  font-weight: bold;
}

.detail-title {
  @extend .title;
}

.focus {
  border-color: common.$primary;
}

.hover {
  cursor: pointer;
}

.rating {
  margin-top: 10px;
}

.delete {
  position: absolute;
  top: 0;
  right: 0;
  // background: common.$primary;
  // color: white;
  // @include common.setSize(24px, 24px);
  @include common.flex(row, center, center);
  border-radius: 50%;
  cursor: pointer;
  svg {
    color: common.$primary;
  }
}

@media screen and (max-width: 650px) {
  .title {
    font-size: 16px;
    line-height: 18px;
  }
  .info {
    width: calc(100% - 122px);
    p {
      font-size: 13px;
      line-height: normal;
    }
  }

  .rating {
    margin-top: 6px;
  }

  .delete {
    left: 2px;
    top: 2px;
  }

  .detail-title {
    font-size: 16px;
    line-height: 18px;
  }
  .detail-info {
    p {
      font-size: 13px;
      line-height: normal;
    }
  }
  .img-lg {
    @include common.setSize(110px, 146px);
    margin-right: 10px;
  }
}

@media (hover: hover) {
  .hover:hover {
    border-color: common.$primary;
  }
}
