@use 'common';

.wrapper {
  @include common.setSize(150px, 260px);
  cursor: pointer;
}

.thumnail {
  position: relative;
  @include common.setSize(100%, 210px);
  img {
    @include common.setSize(100%, 100%);
    object-fit: cover;
    border-radius: 0 20px 20px 0;
    background: common.$neutral-05;
    display: block;
  }
}

.title {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 6px;
}

.author {
  color: common.$neutral-60;
  line-height: 1.5;
  text-align: center;
}

.rating {
  margin-top: 3px;
  @include common.flex(row, center, center);
}
