@use 'common';

.wrapper {
  @include common.setSize(100%, 100%);
  @include common.flex(row, center, center);
}

.content {
  width: 90%;
  max-width: 860px;
  padding: 0 20px;
  span {
    font-size: 20px;
  }

  button {
    flex-shrink: 0;
  }
}

.right {
  position: absolute;
  right: 0;
}

.item-wrapper {
  @include common.setSize(100%, 60px);
  @include common.flex(row, flex-start, center);
  position: relative;

  label {
    width: 0;
    height: 0;
    overflow: hidden;
  }

  a {
    font-size: 16px;
    color: common.$neutral-50;
    @include common.flex(row, flex-start, center);
    &::after {
      content: '>';
      font-size: 10px;
      padding-left: 5px;
    }
  }
}

.label {
  width: 150px;
  font-size: 20px;
  font-weight: bold;
}

.label-md {
  @extend .label;
  width: 190px;
}

.email {
  width: 90%;
}

.password-wrapper {
  margin-top: 40px;
  @include common.flex(row, flex-start, flex-start);
  .label {
    margin-top: 20px;
  }
}

.password {
  width: calc(100% - 150px);
  font-size: 20px;

  button {
    margin-top: 10px;
    &:disabled {
      background: common.$bluegray-30;
      cursor: default;
    }
  }

  form {
    @include common.flex(column, flex-start, flex-end);
    span {
      width: 100%;
      font-size: 13px;
      text-align: center;
      color: common.$warning;
      margin-top: 2px;
    }
  }
}

@media screen and (max-width: 650px) {
  .wrapper {
    align-items: flex-start;
    height: calc(100% - common.$header-height);
  }

  .content {
    width: 100%;
    margin-top: 20px;

    span {
      font-size: 15px;
    }

    .label,
    .label-md {
      font-size: 18px;
      width: fit-content;
      flex-shrink: 0;
    }

    button {
      font-size: 14px;
    }
  }

  .item-wrapper {
    gap: 12px;
    a {
      font-size: 14px;
    }
  }

  .password-wrapper {
    flex-direction: column;
    margin: 15px 0;
  }

  .password {
    width: 100%;
    margin-top: 10px;

    input {
      height: 40px;
      font-size: 16px;
      margin-top: 0;
      margin-bottom: 6px;
    }

    form span {
      margin-top: -4px;
      margin-bottom: 2px;
    }

    button {
      margin-top: 4px;
    }
  }
}

@media screen and (max-width: 450px) {
  .email {
    @include common.ellipsis;
  }
}
