@mixin set-fixed($top, $zIndex) {
  position: fixed;
  top: $top;
  z-index: $zIndex;
}

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin setSize($width, $height) {
  width: $width;
  height: $height;
}

@mixin ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}

// color
$highlight: #2f5d62;
$primary: #5e8b7e;
$secondary: #dfeeea;
