@use "common";

.wrapper {
  @include common.setSize(100%, 100%);
  @include common.flex(row, center, center);
}

.content {
  width: 350px;
}

.logo {
  width: 100%;
  font-family: "GeekbleMalang2";
  font-size: 50px;
  line-height: 94%;
  color: common.$primary;
  margin-bottom: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  & > a {
    display: block;
  }
}

.input {
  border: solid 2px #eee;
  border-radius: 20px;
  padding: 12px 16px;
  margin-top: 10px;
  width: 100%;
  &:focus {
    border-color: #a7c4bc;
    transition: all 0.02;
  }
  &.error {
    border: solid 2px #ff3f3f;
  }
  &:disabled {
    cursor: default;
  }
}

.submit {
  @extend .input;
  background: #a7c4bc;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
  cursor: pointer;
  &:hover {
    background: common.$primary;
    transition: all 0.2s;
  }
  &:disabled {
    background: #bac1d0;
  }
}

.google {
  @include common.flex(row, center, center);
  @include common.setSize(100%, 52.8px);
  background: white;
  color: inherit;
  font-size: 16px;
  font-weight: 500;
  border: solid 2px #eee;
  border-radius: 20px;
  padding: 12px 16px;
  margin-top: 30px;
  gap: 8px;
}

.find {
  @include common.flex(row, center, center);
  // padding: 10px 0;
  li {
    position: relative;
    height: 50px;
    font-size: 14px;
    color: #888;
    cursor: pointer;
    &::after {
      content: "|";
      font-size: 13px;
      padding: 0 14px 5px;
      cursor: default;
    }
    &:last-child {
      &::after {
        content: none;
        padding-left: 0;
      }
    }
  }
}

.label {
  @include common.flex(row, center, center);
  font-size: 24px;
  margin-bottom: 35px;
  color: #5e8b7e;
}

.label-sm {
  @extend .label;
  font-size: 18px;
  margin: 10px 0;
}

.form {
  @include common.flex(column, center, center);
  span {
    font-size: 13px;
    color: #ff3f3f;
  }
}

@media screen and (max-width: 650px) {
  .submit {
    background: common.$primary;
  }
}
