@use "common";

.wrapper {
  @include common.setSize(100%, 52px);
  margin: 0 auto;
  position: relative;
  display: block;
}

.topbar {
  @include common.setSize(100%, 52px);
  @include common.set-fixed(0, 500);
  background: white;
  border-bottom: solid 1px #eee;
  color: common.$primary;
  .right {
    font-weight: 700;
  }
}

.bottom_nav {
  @include common.setSize(100%, 52px);
  @include common.set-fixed(auto, 500, 0);
  background: white;
  border-bottom: solid 1px #eee;
  color: common.$primary;
  .right {
    font-weight: 700;
  }
}

.topbar-light {
  background: white;
  button {
    font-size: 16px;
    padding: 4px 12px;
    border-radius: 20px;
  }

  span {
    &:first-child {
      padding: 0 6px;
      color: #333;
    }
  }

  .number {
    color: common.$primary;
    font-size: 17px;
    font-weight: 600;
    padding-right: 6px;
    &::before {
      content: "|";
      padding-right: 6px;
      color: #ccc;
    }
  }

  .upload {
    background: common.$primary;
    border: none;
    color: white;
  }
  .save {
    background: white;
    border: solid 1px #ccc;
    padding: 4px 6px;
  }
  .right {
    li:first-child {
      margin-right: 10px;
    }
  }
}

.logo {
  margin-left: 20px;
  font-family: "GeekbleMalang2";
  font-size: 30px;
  line-height: 90%;
}

.menu-wrapper {
  @extend .wrapper;
  width: 100%;
  // padding: 0 5%;
  max-width: 1200px;
}

.menu {
  max-width: 1200px;
  padding: 0 25px;
  // @include common.setSize(100%, 50px);
  @include common.setSize(100%, 50px);
  // width: 100%;
  // padding: 0 10%;
  @include common.set-fixed(52px, 600);
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(12px);
  ul {
    width: 100%;
  }
}

.tab {
  font-size: 18px;
  li {
    margin-right: 20px;
  }
}

.right {
  position: absolute;
  right: 0px;
  li {
    margin-right: 20px;
  }
}

.menu {
  .right {
    right: 25px;
  }
  .right > li:last-of-type {
    margin: 0;
  }
}

.searchbar {
  width: 230px;
}

.mobile-search {
  width: 100%;
  background: rgb(247, 247, 247);
  position: absolute;
  left: 0;
  z-index: 900;
  li:first-of-type {
    width: 100%;
    padding-left: 16px;
  }
  li:last-of-type {
    font-size: 14px;
    color: #b4b9c6;
    padding: 0 16px 0 12px;
    flex-shrink: 0;
  }
}

.mobile-searchbar {
  width: 100%;
}

.mb-search-icon {
  padding: 0 6px;
  color: #cacfe0;
}

@media screen and (max-width: 650px) {
  .menu {
    .right {
      right: 15.5px;
      display: flex;
      align-items: center;
    }
    .right li:first-of-type {
      margin-right: 12px;
    }
    .right > li:last-of-type {
      margin: 0;
    }
    & > ul {
      display: flex;
    }
  }
}
