@use "common";

.wrapper {
  @include common.setSize(100%, 50px);
  margin: 0 auto;
  position: relative;
  display: block;
}

.topbar {
  @include common.setSize(100%, 50px);
  @include common.set-fixed(0, 500);
  background: common.$primary;
  color: common.$highlight;
}

.topbar-light {
  background: white;
  button {
    font-size: 16px;
    padding: 4px 12px;
    border-radius: 20px;
  }

  span {
    &:first-child {
      padding: 0 6px;
    }
  }
  
  .number {
    color: common.$secondary;
    font-size: 17px;
    font-weight: 600;
    padding-right: 6px;
    &::before {
      content: "|";
      padding-right: 6px;
      color: #ccc;
    }
  }

  .upload {
    background: common.$secondary;
    border: none;
    color: white;
  }
  .save {
    background: white;
    border: solid 1px #ccc;
    padding: 4px 6px;
  }
  .right {
    li:first-child {
      margin-right: 10px;
    }
  }
}

.logo {
  margin-left: 20px;
  font-size: 24px;
  font-weight: bold;
}

.menu-wrapper {
  @extend .wrapper;
  max-width: 1150px;
}

.menu {
  max-width: 1150px;
  @include common.setSize(100%, 50px);
  @include common.set-fixed(50px, 600);
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(12px);
  ul {
    width: 100%;
  }
}

.tab {
  font-size: 18px;
  li {
    margin-right: 20px;
  }
}

.right {
  position: absolute;
  right: 0px;
  li {
    margin-right: 30px;
  }
}

.searchbar {
  width: 230px;
  margin-right: -30px;
}
