@use "common";

.wrapper {
  @include common.setSize(100%, 150.8px);
  @include common.flex(row, flex-start, center);
  border: solid 3px white;
  position: relative;
}

.img {
  img {
    @include common.setSize(100%, 100%);
    object-fit: cover;
  }
}

.img-sm {
  @extend .img;
  margin-right: 12px;
  @include common.setSize(110px, 146px);
}

.img-lg {
  @extend .img;
  margin-right: 20px;
  @include common.setSize(150px, 200px);
  img {
    border-radius: 0 25px 25px 0;
  }
}

.info {
  position: relative;
  width: calc(100% - 152px);
  p {
    color: #666;
    line-height: 1.5;
  }
}

.title {
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 4px;
  font-weight: bold;
}

.focus {
  border-color: common.$primary;
}

.hover {
  cursor: pointer;
  &:hover {
    border-color: common.$primary;
  }
}

.rating {
  margin-top: 10px;
}

.delete {
  position: absolute;
  top: 0;
  right: 0;
  color: common.$primary;
  cursor: pointer;
}
