@use "common";

.wrapper {
  @include common.flex(row, center, center);
  margin-top: 30px;
  color: #888;
  font-size: 14px;
  li {
    height: 25px;
  }
  a {
    width: 50px;
    display: block;
    z-index: 10;
    &:hover {
      text-decoration: underline;
    }
  }
}

.page {
  margin: 0 5px;
  cursor: pointer;
  width: 25px;
  border-radius: 30px;
  &:hover {
    border: solid 1px #aaa;
  }
}

.icon {
  position: absolute;
  font-size: 20px;
  padding: 0 7px 0px;
}

.move {
  position: relative;
  cursor: pointer;
  margin: 0 10px;
  &:first-child {
    text-align: right;
    &::before {
      content: "<";
      @extend .icon;
      left: 0;
    }
  }
  &:last-child {
    &::after {
      content: ">";
      @extend .icon;
      right: 0px;
    }
  }
}

.visible {
  visibility: hidden;
}

.active {
  font-weight: 700;
  background: common.$highlight;
  color: white;
}
