@use "common";

.container {
  @include common.flex(row, space-between, center);
  flex-wrap: wrap;
  position: relative;
  width: inherit;
  background: white;
  border-radius: 30px;
  border: 2px solid #e3e5e9;
  overflow: hidden;
}

.icon {
  @include common.setSize(40px, 40px);
  @include common.flex(row, center, center);
  position: absolute;
  right: 0;
  color: #cacfe0;
}

.input {
  @include common.flex(row, center, center);
  @include common.setSize(75%, 2.2em);
  line-height: 2.2em;
  position: relative;
  left: 15px;
  color: black;
  font-size: 15px;
}

.container:focus-within {
  background: white;
  border: 2px solid #a7c4bc;
  transition: all 0.02;
  .icon {
    color: #a7c4bc;
  }
}

.med {
  .container {
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #e3e5e9;
    &:focus-within {
      border-bottom: 2px solid #a7c4bc;
    }
  }
  .input {
    @include common.setSize(85%, 2.5em);
    line-height: 2.5em;
    left: 20px;
    font-size: 20px;
  }
  .icon {
    @include common.setSize(53.2px, 53.2px);
  }
}
