.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.content {
  width: 350px;
}

.logo {
  width: 100%;
  font-family: "GeekbleMalang2";
  font-size: 50px;
  line-height: 94%;
  color: #5e8b7e;
  margin-bottom: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.logo > a {
  display: block;
}

.input, .submit {
  border: solid 2px #eee;
  border-radius: 20px;
  padding: 12px 16px;
  margin-top: 10px;
  width: 100%;
}
.input:focus, .submit:focus {
  border-color: #a7c4bc;
  transition: all 0.02;
}
.input.error, .error.submit {
  border: solid 2px #ff3f3f;
}
.input:disabled, .submit:disabled {
  cursor: default;
  background: #eee;
}

.submit {
  background: #a7c4bc;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
  cursor: pointer;
}
.submit:hover {
  background: #5e8b7e;
  transition: all 0.2s;
}
.submit:disabled {
  background: #bac1d0;
}

.google {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 52.8px;
  background: white;
  color: inherit;
  font-size: 16px;
  font-weight: 500;
  border: solid 2px #eee;
  border-radius: 20px;
  padding: 12px 16px;
  margin-top: 30px;
  gap: 8px;
}

.find {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.find li {
  position: relative;
  height: 50px;
  font-size: 14px;
  color: #888;
  cursor: pointer;
}
.find li::after {
  content: "|";
  font-size: 13px;
  padding: 0 14px 5px;
  cursor: default;
}
.find li:last-child::after {
  content: none;
  padding-left: 0;
}

.label, .label-sm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  margin-bottom: 35px;
  color: #5e8b7e;
}

.label-sm {
  font-size: 18px;
  margin: 10px 0;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form span {
  font-size: 13px;
  color: #ff3f3f;
}

@media screen and (max-width: 650px) {
  .submit {
    background: #5e8b7e;
  }
}