.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.content {
  width: 90%;
  max-width: 860px;
  padding: 0 20px;
}
.content span {
  font-size: 20px;
}

.btn, .btn-white, .btn-primary {
  border-radius: 20px;
  padding: 4px 12px;
  font-size: 16px;
  cursor: pointer;
  width: -moz-fit-content;
  width: fit-content;
  flex-shrink: 0;
}

.btn-primary {
  background: #5e8b7e;
  color: white;
  border: none;
}

.btn-white {
  width: 80px;
  background: white;
  color: #888;
  border: solid 1px #ccc;
}

.right {
  position: absolute;
  right: 0;
}

.item-wrapper {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.item-wrapper a {
  font-size: 16px;
  color: #888;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.item-wrapper a::after {
  content: ">";
  font-size: 10px;
  padding-left: 5px;
}

.title {
  width: 150px;
  font-size: 20px;
  font-weight: bold;
}

.title-md {
  width: 190px;
  font-weight: bold;
}

.user-info {
  width: 90%;
}

.password-wrapper {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.password-wrapper .title {
  margin-top: 20px;
}

.password {
  width: calc(100% - 150px);
  font-size: 20px;
}
.password button {
  margin-top: 10px;
}
.password button:disabled {
  background: #bbb;
  cursor: default;
}
.password form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}
.password form span {
  width: 100%;
  font-size: 13px;
  text-align: center;
  color: #ff3f3f;
}

.leave {
  max-width: 700px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 100px 0;
}
.leave strong,
.leave span {
  line-height: 35px;
  font-size: 18px;
}
.leave h4 {
  color: #2f5d62;
  width: 100%;
  font-size: 24px;
  margin-bottom: 100px;
}
.leave .inform {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 5px;
  gap: 2px;
}
.leave .icon {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: #5e8b7e;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

.message {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 0;
}

.delete-form .input {
  width: 180px;
  height: 35px;
  border: solid 1px #dadada;
  border-radius: 30px;
  padding: 0 12px;
  margin: 5px 0;
  font-size: 18px;
}
.delete-form button {
  display: block;
  margin: 60px auto 0;
}

@media screen and (max-width: 650px) {
  .wrapper {
    align-items: flex-start;
    height: calc(100% - 52px);
  }
  .content {
    width: 100%;
    margin-top: 20px;
  }
  .content span {
    font-size: 15px;
  }
  .content .title,
  .content .title-md {
    font-size: 18px;
    width: -moz-fit-content;
    width: fit-content;
    flex-shrink: 0;
  }
  .item-wrapper {
    gap: 12px;
  }
  .item-wrapper a {
    font-size: 14px;
  }
  .password-wrapper {
    flex-direction: column;
    margin: 15px 0;
  }
  .password {
    width: 100%;
    margin-top: 10px;
  }
  .password input {
    height: 40px;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 6px;
  }
  .password button {
    margin-top: 4px;
  }
  .btn, .btn-primary, .btn-white {
    font-size: 14px;
  }
  .btn-white {
    width: -moz-fit-content;
    width: fit-content;
    font-size: 12px;
    padding: 4px 10px;
  }
  .leave {
    padding: 0;
    height: -moz-fit-content;
    height: fit-content;
  }
  .leave h4 {
    margin: 40px 0 50px;
  }
  .leave p,
  .leave strong,
  .leave span {
    font-size: 16px;
    line-height: normal;
  }
  .leave strong {
    line-height: normal;
    margin-bottom: 10px;
    display: inline-block;
  }
}
@media screen and (max-width: 540px) {
  .leave .inform {
    align-items: flex-start;
  }
}
@media screen and (max-width: 450px) {
  .delete-form .input {
    width: 100%;
  }
  .user-info {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
  }
}