.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.content {
  width: 90%;
  max-width: 860px;
  padding: 0 20px;
}
.content span {
  font-size: 20px;
}

.btn, .btn-white, .btn-primary {
  border-radius: 20px;
  padding: 4px 12px;
  font-size: 16px;
  cursor: pointer;
  width: -moz-fit-content;
  width: fit-content;
}

.btn-primary {
  background: #5e8b7e;
  color: white;
  border: none;
}

.btn-white {
  width: 80px;
  background: white;
  color: #888;
  border: solid 1px #ccc;
}

.right {
  position: absolute;
  right: 0;
}

.item-wrapper {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.item-wrapper a {
  font-size: 16px;
  color: #888;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.item-wrapper a::after {
  content: ">";
  font-size: 10px;
  padding-left: 5px;
}

.title {
  width: 150px;
  font-size: 20px;
  font-weight: bold;
}

.title-md {
  width: 190px;
  font-weight: bold;
}

.user-info {
  width: calc(100% - 230px);
}

.password-wrapper {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.password-wrapper .title {
  margin-top: 20px;
}

.password {
  width: calc(100% - 150px);
  font-size: 20px;
}
.password button {
  margin-top: 10px;
}
.password button:disabled {
  background: #bbb;
  cursor: default;
}
.password form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}
.password form span {
  width: 100%;
  font-size: 13px;
  text-align: center;
  color: #ff3f3f;
}

.leave {
  width: 700px;
  height: 100%;
  margin: 0 auto;
  padding: 100px 0;
}
.leave p,
.leave strong,
.leave span {
  line-height: 35px;
  font-size: 18px;
}
.leave h4 {
  color: #2f5d62;
  width: 100%;
  font-size: 24px;
  margin-bottom: 100px;
}
.leave .icon {
  color: #5e8b7e;
}

.message {
  display: flex;
  margin: 20px 0;
}

.pform .input {
  width: 180px;
  height: 35px;
  border: solid 1px #dadada;
  border-radius: 30px;
  padding: 0 12px;
  margin: 5px 0;
  font-size: 18px;
}
.pform button {
  display: block;
  margin: 60px auto 0;
}