.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  width: inherit;
  background: white;
  border-radius: 30px;
  border: 2px solid #e3e5e9;
  overflow: hidden;
}

.icon {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  color: #cacfe0;
}

.input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: 2.2em;
  line-height: 2.2em;
  position: relative;
  left: 15px;
  color: black;
  font-size: 15px;
}

.container:focus-within {
  background: white;
  border: 2px solid #a7c4bc;
  transition: all 0.02;
}
.container:focus-within .icon {
  color: #a7c4bc;
}

.med .container {
  border: none;
  border-radius: 0;
  border-bottom: 2px solid #e3e5e9;
}
.med .container:focus-within {
  border-bottom: 2px solid #a7c4bc;
}
.med .input {
  width: 85%;
  height: 2.5em;
  line-height: 2.5em;
  left: 20px;
  font-size: 20px;
}
.med .icon {
  width: 53.2px;
  height: 53.2px;
}